# Ignore the entire dataRetro folder (Dofus game files)
dataRetro/
dofus1langextractor/
lang/
output/
Retro_json_dialog_data/
TB_ANK_202507/
dics/
ANK_dic/
i18n/
processing_dics/
others/
output_dics/output_dics.7z
output_dics/Tuto*
output_dics/*/*ANKANIMATION*
output_dics/*/*ONE_MORE_GATE*
output_dics/*/*WAVEN*
output_dics/*/*/*ANKANIMATION*
output_dics/*/*/*ONE_MORE_GATE*
output_dics/*/*/*WAVEN*
testings/smoke_wak*
testings/full_allgames_alllangs_dualrun/final_exports
output_dics/Full_dics
output_dics/*/Full_dics
testings/full_allgames_alllangs_dualrun/*/*ONE_MORE_GATE*
testings/full_allgames_alllangs_dualrun/*/*ANKANIMATION*
testings/full_allgames_alllangs_dualrun/*/*WAVEN*

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/

# Ignore IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore specific files
npc_dialog_mapping - Copy.html
npc_dialog_mapping.html


# Ignore distribution/packaging files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
npc_dialog_mapping_xliff.html
sample_filter_test.xlsx
RetroViewer_Plus_v5_2025-09-27.pyw
RetroViewer_Plus_v6_2025-10-06 - Copy.pyw
RetroViewer_Plus_v6_2025-10-06.pyw
AvitonES_report.xlsx
create_sample_quest_database.py
Doplon_table.html
export_npc_dialog_json.json
export_npc_reply_json.json
gui_quest_loading_fix.py
items_fr_1260.json
monsters_fr_1248.json
quest_dialog_mapper_gui.pyw
quest_mapper_enhancement_guide.md
QUEST_MAPPING_FIX_SUMMARY.md
QuestDataFlow_v2.ipynb
quests_fr_1248_enriched.json
RetroViewer_Plus_v6_2025-10-06 - Copy (2).pyw
RetroViewer_Plus_v7_2025-10-15 - Copy (3).pyw
tb_injection_v0.ipynb
term_correction_TM.ipynb
Ignore_Retro_json_dialog_data/export_npc_json.json
Ignore_Retro_json_dialog_data/export_npc_message_json.json
Ignore_Retro_json_dialog_data/npc_dialog_mapping_xliff_stats.html
Ignore_Retro_json_dialog_data/npcs_Dofus3-03_202508.json
Ignore_Retro_json_dialog_data/Retro Dialog JSON Notes.txt
Ignore_Retro_json_dialog_data/transQualReplies.csv
retro-complet-2025-09-29/export.2025-09-29_12-25-52.fr-fr.en-gb.xliff
retro-complet-2025-09-29/export.2025-09-29_12-26-00.fr-fr.es-es.xliff
retro-complet-2025-09-29/export.2025-09-29_12-26-05.fr-fr.pt-br.xliff
retro-complet-2025-09-29/quest_dialogs_20251006_080205.html
retro-complet-2025-09-29/quest_dialogs_20251006_080915.html
TB2dic - Copy NoCompoundsDE.ipynb
testings/run_wakfu_en_single.py
TB2dic copy.ipynb
